@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:wght@800&display=swap');



body{
  background-color: #0d0d0e;

}

.container{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   color: white;
}

a{
    text-decoration: none;
    color: white;
    padding: 10px;

}
h1{
 font-family:'Source Sans 3', sans-serif;;
}